<% unless message.content.nil? %>

  <div class='message <%= message.issue.sender == message.author ? 'sender' : 'reciever' %>'>
    
    <div class='spacer'>
      <p class='author'>
        <%= t('activerecord.attributes.message.author') %>
        <%= link_to message.author.name, user_path(message.author) %>
        <% if is_new?(message) %>
          <span class='is_new'><%= t('elements.message.is_new') %></span>
        <% end %>
      </p>
    </div>
    
    <div class='spacer'>
      <div class='content'>
          <p>
            <%= message.content %>
          </p>
          <p class='send_at'>
            <%= message.created_datetime %>
          </p>
      </div>
    </div>
    
    <% if @current_user == message.author %>
      <div class='spacer'>
        <p class='read_at'><%= message.read_datetime %></p>
      </div>
    <% end %>
    
  </div>
<% end %>



