-breadcrumb :new_message, @offer

.row
  .col-md-4
    %ul.list-group
      %li.list-group-item
        %b= t('elements.offer.owner')
        %span.list-group-item-author= link_to @offer.owner.name, @offer.owner
    .form-search-mounted
      %h3= t('elements.forms.new_message')
      = render 'form'
  .col-md-4
    %h2.custom-h2= t('elements.message.history')
    = render @issue.messages
  .col-md-4
    %h2.custom-h2= @offer.title
    .offer-content
      = raw(@offer.content)
