.list-group-item

  %h4.list-group-item-heading
    = link_to user.name, user_path(user)
  .category= "#{t('elements.user.offer_count')} (#{user.offers.size})"
  
  .empty-newline
  .list-group-item-region
    = t('activerecord.attributes.user.region')
    = link_to user.region, '#'