.row
  .col-md-3.col-md-offset-1
    .panel.panel-default
      .form-search-mounted
        = form_tag('/users', method: :get) do
          .form-field
            = label_tag :region, t('elements.users_by_region'), class: 'full-width-label'
            = select_tag :region, options_for_select(User::REGIONS), {include_blank: true, class: 'form-control'}
          
          = submit_tag t('links.search.submit_users'), class: 'btn btn-default'
        
  .col-md-7.well
    .list-group
      - if @users.empty?
        .list-group-item
          %h2= t('elements.no_users')
      - else
        = render @users
      
    = will_paginate @users

