.row
  .col-md-4
    %h2.custom-h2= t('elements.user.info')
    %ul.list-group
      %li.list-group-item
        %b= t('activerecord.attributes.user.name') + ':'
        = @user.name
      %li.list-group-item
        %b= t('activerecord.attributes.user.region')+ ':'
        = @user.region
    = render 'profile_buttons'
  .col-md-8
    %h2.custom-h2= t('elements.user.offers')
    /- #current_user_offer_nav(@user, (0..2)) function in user helper to show offers status navigation 
    .list-group
      /= render @offers
      /= will_paginate @offers