.row
  .col-md-4
    %h2.custom-h2= t('elements.user.info')
    %ul.list-group
      %li.list-group-item
        %b= t('activerecord.attributes.user.name') + ':'
        = @user.name
      %li.list-group-item
        %b= t('activerecord.attributes.user.region')+ ':'
        = @user.region
      %li.list-group-item
        = account_status_text(@user)
    - if current_or_admin?
      .well
        = link_to t('links.edit'), edit_user_path(@user), class: 'btn btn-primary'
  .col-md-8
    %h2.custom-h2= t('elements.user.offers')
    = offer_status_nav
    .list-group
      = render @offers
      = will_paginate @offers
      - if @offers.empty?
        .list-group-item
          = t('elements.no_offers')