.list-group-item

  %h4.list-group-item-heading
    = link_to truncate(offer.title, length: 50, separator:  ' '), offer
  %span
    = link_to t(offer.category.name_code), offers_path(c_id: offer.category_id), class: 'category'
    
  %span.list-group-item-author
    .empty-newline
    = t('activerecord.attributes.offer.owner')
    = link_to offer.owner.name, offer.owner
    - if admin?
      = "#{t('elements.offer.status')}: #{t(offer.status)}"
    .empty-newline
    = t('activerecord.attributes.offer.valid_until')
    %b= offer.valid_date
    
    
  - if current_or_admin?(offer.owner)
    
    = render 'offers/offer_buttons', offer: offer
      
  .list-group-item-region
    = t('activerecord.attributes.offer.region')
    = link_to offer.owner.region, offers_path(region: offer.owner.region)