<div class="btn-group btn-group-sm">
  <% if admin? && offer.pending? %>
    <%= link_to accept_offer_path(offer), method: :patch, class: 'btn btn-success' do %>
      <i class="fa fa-check fa-fw" data-description=<%= t('links.accept') %>></i>
    <% end %>
  <% end %>
  <% if @current_user.active? %>
    <%= link_to edit_offer_path(offer), class: 'btn btn-default' do %>
      <i class="fa fa-pencil fa-fw" data-description=<%= t('links.edit') %>></i>
    <% end %>
  <% end %>
  <% if offer.active? || offer.pending? %>
    <%= link_to close_offer_path(offer), method: :patch, class: 'btn btn-warning', data: {confirm: t('elements.offer.confirm_close')} do %>
      <i class="fa fa-times fa-fw" data-description=<%= t('links.close') %>></i>
    <% end %>
  <% end %>
  <% if owner?(offer.owner) && offer.owner.active? && offer.closed? %>
    <%= link_to renew_offer_path(offer), method: :patch, class: 'btn btn-primary' do %>
      <i class="fa fa-refresh fa-fw" data-description=<%= t('links.renew') %>></i>
    <% end %>
  <% end %>
  <%= link_to offer_path(offer), method: :delete, class: 'btn btn-danger', data: {confirm: t('elements.offer.confirm_destroy')} do %>
    <i class="fa fa-trash fa-fw" data-description=<%= t('links.destroy') %>></i>
  <% end %>
</div>
