%h2.custom-h2= offer.title
.offer-content
  = raw(offer.content)
.price-main
  %span.price-right
    - if offer.price == 0
      = t('elements.offer.price_free')
    - else
      = t('elements.offer.price')
      %span.price-num= t('elements.offer.cost', count: offer.price)