.row
  .col-md-4
    %h2.custom-h2
      = t('elements.offer.search')
    = render 'shared/search_form'
    
  .col-md-8
    %h2.custom-h2= t('elements.offer.index')
    .list-group
      = render @offers
    = will_paginate @offers