- breadcrumb :offer, @offer

.row
  .col-md-4
    %h2.custom-h2= t('links.offer.info')
    %ul.list-group
      %li.list-group-item
        %b= t('activerecord.attributes.offer.owner')
        %span.list-group-item-author= link_to @offer.owner.name, @offer.owner
      %li.list-group-item
        %b= t('activerecord.attributes.offer.region')
        = @offer.owner.region
      %li.list-group-item
        %b= t('activerecord.attributes.offer.category')
        = @offer.category
      %li.list-group-item
        %b= t('activerecord.attributes.offer.valid_until')
        = @offer.valid_date
      %li.list-group-item
        %b= t('activerecord.attributes.offer.created')
        = @offer.created_date
      - if current_or_admin?(@offer.owner)
        %li.list-group-item
          %b= t('activerecord.attributes.offer.updated')
          = @offer.updated_date
        %li.list-group-item
          %b= t('activerecord.attributes.offer.status')
          = t(@offer.status)
    - if @offer.active? && !owner?(@user) && logged_in?
      .well
        - if @issue.nil?
          = link_to t('links.message.send'), issues_path(@params_for_issue), method: :post, class: 'btn btn-success btn-lg btn-block'
        - else
          = link_to t('links.message.send'), issue_path(@issue), class: 'btn btn-success btn-lg btn-block'
    
    - if !logged_in?
      .well
        = link_to t('links.message.send'), issues_path(), {method: :post, class: 'btn btn-success btn-lg btn-block'}
    
    - if owner?(@user)
      .well
        - @offer.issues.each do |issue|
          = t('elements.offer.messages_from', user: issue.sender.name)
          = link_to t('links.message.show'), issue_path(issue), class: 'btn btn-success btn-lg btn-block'
          
    - if current_or_admin?(@offer.owner)
      .well
        .btn-group
          = link_to t('links.edit'), edit_offer_path(@offer), class: 'btn btn-default'
          - if @offer.status_id != 2
            = link_to t('links.close'), close_offer_path(@offer), method: :patch, class: 'btn btn-warning', data: {confirm: t('elements.offer.confirm_close')}
          = link_to t('links.destroy'), offer_path(@offer), method: :delete, class: 'btn btn-danger', data: {confirm: t('elements.offer.confirm_destroy')}
          
        .empty-newline
        .btn-group.pull-right
          - if current_user? && @offer.status_id == 2
            = link_to t('links.renew'), renew_offer_path(@offer), method: :patch, class: 'btn btn-success'
          - if admin? && @offer.status_id == 0
            = link_to t('links.accept'), accept_offer_path(@offer), method: :patch, class: 'btn btn-success'
  
  
  .col-md-8
    %h2.custom-h2= @offer.title
    .offer-content
      = raw(@offer.content)
  