%ul.nav.navbar-nav.navbar-right
  - if inactive?
    %p.navbar-text#text-danger= t('elements.user.inactive')
    
  
  - if logged_in?
  
    - if new_messages?
      
      %li
        = link_to issue_path(@current_user.new_messages.first.issue), {id: 'text-info'} do
          = t('links.user.new_messages', count: @current_user.new_messages.count)
    - if admin?
      
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", |
        :href => "#", :role => "button"}  |
          = t('links.admin_options')
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li.dropdown-header{:role => "presentation"}= t('links.users')
          %li
            = link_to admin_users_path do
              %i.fa.fa-users.fa-fw
              = t('links.show')
          %li.divider
          %li.dropdown-header{:role => "presentation"}= t('links.offers')
          %li
            = link_to offers_path do
              %i.fa.fa-list.fa-fw
              = t('links.show')
          %li
            = link_to offers_path(status: 0) do
              %i.fa.fa-pause.fa-fw
              = t('links.offer.status0')
          %li
            = link_to offers_path(status: 1) do
              %i.fa.fa-play.fa-fw
              = t('links.offer.status1')
          %li
            = link_to offers_path(status: 2) do
              %i.fa.fa-stop.fa-fw
              = t('links.offer.status2')
              
    - if active?
      %li
        = link_to new_offer_path do
          %i.fa.fa-plus.fa-fw
          = t('links.offer.add')
        
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", |
      :href => "#", :role => "button"}  |
        = t('links.messagebox.title')
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          = link_to messagebox_path(type: 'recieved') do
            %i.fa.fa-inbox.fa-fw
            = t('links.messagebox.recieved')
        %li
          = link_to messagebox_path(type: 'send') do
            %i.fa.fa-paper-plane.fa-fw
            = t('links.messagebox.send')
    %li.dropdown
      %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", |
      :href => "#", :role => "button"}  |
        = @current_user.name
        %span.caret
      %ul.dropdown-menu{:role => "menu"}
        %li
          = link_to @current_user do
            %i.fa.fa-user.fa-fw
            = t('links.show')
        %li
          = link_to edit_user_path(@current_user) do
            %i.fa.fa-cogs.fa-fw
            = t('links.settings')
        %li.divider
        %li
          = link_to logout_path, method: :delete do
            %i.fa.fa-sign-out.fa-fw
            = t('links.user.log_out')
        
    
  - else
  
    %li
      = link_to new_user_path do
        %i.fa.fa-sign-in.fa-fw
        = t('links.user.register')
    %li
      = link_to login_path do
        %i.fa.fa-sign-in.fa-fw
        = t('links.user.login')
        