!!!
%html
  %head
    %title= app_title
    /stylesheets somehow breakes test suite with 
    /ActionView::Template::Error: ActionView::Template::Error: end of file reached
    /app/views/layouts/application.html.haml:5:in `_app_views_layouts_application_html_haml__4575669064546645713_53439660'
    - unless Rails.env.test?
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
  %body
  
    = render 'layouts/header'
  
    .container
      - flash.each do |msg_type, msg|
        %div{class: "alert alert-#{msg_type}"}
          = fa_for_msg(msg_type)
          = msg
          = fa_for_msg(msg_type)
          
      = breadcrumbs display_single_fragment: true, style: :bootstrap, delimiter: ''
      // = render 'shared/progress_form'
      = yield
      = debug(params) if Rails.env.development?
    = render 'layouts/footer'
